<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue intro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h2>Vue intro</h2>
<div id="app">
    <div class="container">
        {{ message }}
        <p> {{ color }} </p>

        <ul v-bind:class="groupClass">
            <li v-bind:class="groupItem"></li>
        </ul>
        <br>
        <!--    Vue IF -->
        <button v-on:click="seen = !seen" class="btn btn-primary">Click me</button>
        <p v-if="seen">Now you see me</p>

        <!--    V-For -->
        <ul class="list-group">
            <li v-for="color in sampleColors" class="list-group-item">
                {{ color }}
            </li>
        </ul>

        <hr>
        <!--        Methods-->
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>

<!--        Inputs-->
        <hr>
        <label>Input test</label>
        <input v-model="userInput" class="form-control mb-2" type="text">
        <p class="list-group-list">{{ userInput }}</p>


    </div>

</div>


<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>